body {
    background-color: lightblue;
}
h1{
    text-align: center;
    font-size: 60px;
}
.contact{
    text-align: center;
    font-size: 20px;
}

a{
    text-align: center;
    padding: 20px;
    font-size: 15px;
    
}
p {
    text-align: center;
    font-size: 15px;
}



img{ 
    padding: 12px;
    margin: 12px;
    border-radius: 10px;

}